@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*, body, html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid red;
    font-family: "Montserrat", sans-serif;
}

@media (min-width: 768px){  
    
    body{
        display: flex;
        flex-direction: column;
    }

    header{
        top: 0;
        left: 0;
        height: 140px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 80px 30px 80px;
        background-color: #D9D9D9;
        position: fixed;
        z-index: 1000; /* Para garantir que o header fica sempre acima dos outros elementos */
    }

    .mobile-navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 25px;
    }

    .navbar-text{
        text-decoration: none;
        font-size: 1rem;
        color: #000;
        font-weight: bold;
    }

    .navbar-text:hover{
        font-family: "Montserrat", sans-serif;
        transition: 0.4s;
        color: rgba(0,0,0,0.4); 
    }

    svg{
        display: none;
    }

    .svg-player-mode{
        display: block;
        width: 110px;
        height: auto;
    }

    .section-player-mode{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;
    }

    .button-player-mode{
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #D9D9D9;
        height: auto;
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        border-radius: 20px;
        filter: drop-shadow(rgba(0,0,0,0.2) 2px 4px 4px);
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .button-player-mode:hover{
        cursor: pointer;
        transition: 0.4s;
        filter: drop-shadow( 0px 0px 20px rgba(0,0,0,0.8));
        border: 1px solid rgba(0, 0, 0, 0.4);
    }

    #logo-desktop{
        width: 320px;
        height: 80px;
    }

    #logo-mobile{
        width: 200px;
        width: 170px;
    }

    main{
        flex: 1;
        width: 100%;
        padding-left: 200px;
        padding-right: 200px;
        min-height: 80vh;
        margin-top: 140px;
        margin-bottom: 140px;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .screen-name{
        font-size: 2rem;
        font-family: "Montserrat", sans-serif;
        color: #000;
        font-weight: bold;
    }

    .main-text-option{
        text-decoration: none;
        color: #000;
        font-size: 1.5rem;
        font-weight: 800;
        text-wrap: wrap;
        text-align: center;
    }

    .main-text-option:hover{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.8);
        transition: 0.2s;
        font-weight: 800;
        text-wrap: wrap;
        text-align: center;
    }


    footer{
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 140px;
        width: 100%;
        background-color: #D9D9D9;
    }

    #footer-text{
        display: block;
        color: #000;
    }
}

@media (max-width: 768px){  
    main, header, footer, body{
        all: unset;
    }

    main{
        flex: 1;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
    }

    .button-player-mode{
        all: unset;
    }

    svg{
        width: 50px;
        height: 50px;
    }

    #logo-desktop{
        display: none;
    }

    /* Mobile Top Header */
    .cabecalho-mobile{
        display: block;
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 15%;
    }

    .cabecalho-mobile-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .screen-name{
        color: #000;
        font-size: 20px;
        font-weight: 600;
    }


    /* button Player Mode */

    .section-player-mode{
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .button-player-mode{
        height: 150px;
        width: 260px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: 20px;
        margin-right: 20px;
        padding: 20px;
    }

    .link-button-player-mode{
        text-decoration: none;
    }

    .main-text-option{
        text-decoration: none;
        color: #000;
        font-size: 1rem;
        font-weight: 800;
        text-wrap: wrap;
        text-align: center;
    }



    /* Mobile Bottom Navbar */
    footer{
        display: none;
    }

    .mobile-navbar{
        height: 120px;
        width: 100%;
        /* padding-right: 10%; */
        position: fixed;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 15px;
        overflow-x: auto;
        background-color: #fff;
        filter: drop-shadow(rgba(0,0,0,0.3) 0px 0px 10px);
 
    }

    .navbar-option{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-text{
        text-decoration: none;
        font-weight: bold;
        color: #000;
    }

    .navbar-text[disabled]:hover{
        all: unset;
    }
}

/* Mobile Devices Smaller - SE */
@media (max-width: 375px){ 
    main, header, footer, body{
        all: unset;
    }

    header{
        z-index: 1000;
        width: 100%;
        height: auto;
    }

    /* Mobile Top Header */
    .cabecalho-mobile{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 15%;
    }

    .cabecalho-mobile-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .screen-name{
        color: #000;
        font-size: 20px;
        font-weight: 600;
    }


    /* button Player Mode */

    .section-player-mode{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
        max-height: 50vh;
        overflow: scroll;
    }

    .button-player-mode{
        height: 150px;
        width: 200px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: 20px;
        margin-right: 20px;
        padding: 20px;
    }

    .link-button-player-mode{
        text-decoration: none;
    }

    .main-text-option{
        text-decoration: none;
        color: #000;
        font-size: 1rem;
        font-weight: 800;
        text-wrap: wrap;
        text-align: center;
    }

    svg{
        height: 40px;
        width: 40px;
    }

    /* Mobile Bottom Navbar */
    footer{
        display: none;
    }
}