@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');



:root{
    --header-back-color: #093979;
    --header-text-color: #D7D7D7;
    
    --back-button-color: #093979;

    --main-text-color: #D7D7D7;
}

*, body, html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    font-family: "Montserrat", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    top: 0;
    left: 0;
    height: 140px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px 30px 80px;
    background-color: var(--header-back-color);
    position: fixed;
    z-index: 1000; /* Para garantir que o header fica sempre acima dos outros elementos */
}

.mobile-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}

.navbar-text{
    font-family: "Luckiest Guy", cursive;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--header-text-color);
}

.navbar-text:hover{
    /* font-family: "Montserrat", sans-serif; */
    transition: 0.4s;
    color: rgba(255, 255, 255, 0.6); 
}

svg{
    display: none;
}

#logo-desktop{
    width: 320px;
    height: 80px;
}

#logo-mobile{
    width: 200px;
    width: 170px;
}

main{
    flex: 1;
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
    min-height: 80vh;
    margin-top: 140px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen-name{
    font-size: 2rem;
    font-family: "Luckiest Guy", cursive;
    color: #000;
}

.sobre-content{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
}

.text-sobre{
    text-align: justify;
}




footer{
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 100%;
    background-color: var(--header-back-color);
}

#footer-text{
    display: block;
    color: var(--header-text-color);
}


@media (max-width: 768px){ 

    main, header, footer{
        all: unset;
    }

    svg{
        display: block;
    }

    #logo-desktop{
        display: none;
    }

    /* Mobile Top Header */
    .cabecalho-mobile{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 25%;
    }

    .cabecalho-mobile-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .screen-name{
        color: #000;
        font-size: 20px;
        /* font-weight: 600; */
    }

    .sobre-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .text-sobre-content{
        min-height: 70vh;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }

    .text-sobre{
        text-align: justify;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
    }

    /* Mobile Bottom Navbar */
    footer{
        display: none;
    }

    .mobile-navbar{
        position: fixed;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100px;
        width: 100%;
        overflow-x: auto;
        background-color: var(--header-back-color);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    }

    .navbar-option{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .navbar-text{
        text-decoration: none;
        color: var(--header-text-color);
    }
}

/* Mobile Devices Smaller - SE */
@media (max-width: 375px){ 

    /* Mobile Top Header */
    .cabecalho-mobile{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 15%;
    }

    .cabecalho-mobile-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .screen-name{
        color: #000;
        font-size: 20px;
        font-weight: 600;
    }

    svg{
        height: 40px;
        width: 40px;
    }

}