@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* :root{
    Mobile Configuration
    --mobile-title: 21px;
    --mobile-text: 16px;
} */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    font-family: "Montserrat", sans-serif;
}



@media (max-width: 480px){
    /* Mobile Top Header */
    .cabecalho-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 25%;
    }

    .cabecalho-mobile-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .screen-name{
        color: #000;
        font-size: 20px;
        font-weight: 600;
    }


    /* button Player Mode */

    .section-player-mode{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .button-player-mode{
        height: 150px;
        width: 260px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: 20px;
        margin-right: 20px;
        padding: 20px;
    }
/* 
    .button-player-mode:hover{
        background-color: rgba(0, 0, 0, 0.8);
    } */

    .link-button-player-mode{
        text-decoration: none;
    }

    .main-text-option{
        text-decoration: none;
        color: #000;
        font-size: 1rem;
        font-weight: 800;
        text-wrap: wrap;
        text-align: center;
    }


    /* Mobile Bottom Navbar */
    footer{
        display: none;
    }

    .mobile-navbar{
        position: fixed;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100px;
        width: 100%;
        overflow-x: auto;
        background-color: #fff;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    }

    .navbar-option{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .navbar-text{
        text-decoration: none;
        font-weight: 800;
        color: #000;
    }
}